.category{
    width: 80%;
    margin: 1rem auto;
    padding: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: var(--color-grey-1);
}

.category__selected i{
    color: var(--color-secondary);
}

.category__name{
    flex-grow: 1;
    margin-left: 2rem;
    display: inline-block;
    transition: all .2s;
}

.category__name:hover{
    color: var(--color-secondary);
}

.category__icon{
    display: inline-block;
}

.category__delete{
    display: inline-block;
    margin-left: 1rem;
    opacity: 0;
    transition: all .2s;
    z-index: 1;
}

.category:hover .category__delete{
    opacity: 1;
}

.category__delete:hover{
    color: var(--color-secondary);
}