.tasks__container{
    align-self: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin-bottom: 1rem;
    min-height: min-content;
    overflow: auto;
    direction: rtl;
}

.tasks__container::-webkit-scrollbar{
    display: block;
    border-radius: 10px;
    width: 10px;
    height: 90%;
    background: rgba(255, 255, 255, .6);
}

.tasks__container::-webkit-scrollbar-thumb{
    background-color: rgba(202, 139, 254, .6);
    border-radius: 10px;
}


.task{
    color: var(--color-grey-1);
    width: 80%;
    font-size: 2rem;
    margin-bottom: 3rem;
    background-color: #fff;
    padding: 2rem 2rem;
    border-radius: 20px;
    display: flex;
    direction:ltr;
}

.task__color{
    display: inline-block;
    margin-right: 2rem;
    clip-path: circle();
    height: 100%;
    min-width: 20px;
}

.task__text{
    display: inline-block;
    align-self: center;
    flex-grow: 1;
}

.task__done{
    font-size: 2.5rem;
    color: var(--color-grey-2);
    cursor: pointer;
}

.task__done:focus,
.task__done:hover{
    color: var(--color-secondary);
}

