:root{
  --color-primary: #a18aff;
  --color-secondary: #ca8bfe;

  --color-grey-1: #6c757d;
  --color-grey-2: #ced4da;
}

*{
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; 
  color: var(--color-grey-1);
}

body{
  font-family: 'Varela Round', sans-serif;

}